{% load i18n %}
<div class="login-box">
  <div class="login-logo">
    <a href=""><b>{% trans 'admin'|capfirst %}</b></a>
  </div>
  <div class="login-box-body">
    <form method="post">{% csrf_token %}
      <div class="form-group has-feedback">
        {{ form.username }}
        <i class="fa fa-envelope form-control-feedback"></i>
      </div>
      <div class="form-group has-feedback">
        {{ form.password }}
        <i class="fa fa-lock form-control-feedback"></i>
      </div>
      <div class="row">
        <div class="col-xs-8">
          <div class="checkbox icheck">
            <label>
              {{ form.remember_me }} {{ form.remember_me.label }}
            </label>
          </div>
        </div>
        <div class="col-xs-4">
          <button type="submit" class="btn btn-primary btn-block btn-flat">
            {% trans 'Sign In' %}
          </button>
        </div>
      </div>
    </form>
    <a href="{% url 'admin:password_reset' %}">
      {% trans 'I forgot my password' %}
    </a>
  </div>
</div>
