{% extends 'lte/page.html' %}
{% load i18n %}

{% block page_header %}{% trans 'Update Password' %}{% endblock %}

{% block page_content %}
  <div class="row">
    <div class="col-md-4">
      <form method="post">{% csrf_token %}
        <div class="box box-solid">
          <div class="box-body">
            {{ form.as_p }}
          </div>
        </div>
        <button class="btn btn-success pull-right" type="submit">
          <i class="fa fa-save"></i>
          {% trans 'Save' %}
        </button>
      </form>
    </div>
  </div>
{% endblock %}
