{% extends 'lte/accounts/base.html' %}
{% load i18n %}

{% block accounts_content %}
  {% if validlink %}
    <p>
      {% blocktrans %}
        Please enter your new password twice so we can verify you
        typed it in correctly.
      {% endblocktrans %}
    </p>
    <form method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <button class="btn btn-block btn-flat btn-primary" type="submit">
        {% trans 'Change my password' %}
      </button>
    </form>
  {% else %}
    <p>
      {% blocktrans %}
        The password reset link was invalid, possibly because it has
        already been used. Please request a new password reset.
      {% endblocktrans %}
    </p>
  {% endif %}
{% endblock %}
