{% extends 'lte/accounts/base_profile.html' %}
{% load i18n %}

{% block page_description %}
  <a class="btn btn-xs btn-primary" href="{% url 'admin:password_change' %}">
    {% trans 'change password' %}
  </a>
{% endblock %}

{% block breadcrumb %}
  <li>
    <a href="{% url 'admin:profile' %}">{% trans 'User Profile' %}</a>
  </li>
  <li class="active">{% trans 'Update Profile' %}</li>
{% endblock %}

{% block page_content %}
  <div class="row">
    <div class="col-md-4">
      <form method="post">{% csrf_token %}
        <div class="box box-solid">
          <div class="box-body">
            {{ form.as_p }}
          </div>
        </div>
        <button class="btn btn-success pull-right" type="submit">
          <i class="fa fa-save"></i>
          {% trans 'Save' %}
        </button>
      </form>
    </div>
  </div>
{% endblock %}
