{% extends 'lte/accounts/base_profile.html' %}
{% load i18n %}

{% block breadcrumb %}
  <li class="active">{% trans 'User Profile' %}</li>
{% endblock %}

{% block page_content %}
  <div class="row">
    <div class="col-md-4">
      <div class="box box-solid">
        <div class="box-body">
          <div class="media">
            <div class="media-left">
              <img class="media-object" src="{{ user.gravatar }}" alt="user gravatar">
            </div>
            <div class="media-body">
              <dl>
                <dt>{% trans 'name'|capfirst %}</dt>
                <dd>{{ user.name }}</dd>
                <dt>{% trans 'email'|capfirst %}</dt>
                <dd>{{ user.email }}</dd>
              </dl>
            </div>
          </div>
          <a class="btn btn-sm btn-primary" href="{% url 'admin:profile_update' %}">
            {% trans 'Edit Profile' %}
          </a>
          <a class="btn btn-sm btn-primary" href="{% url 'admin:password_change' %}">
            {% trans 'Change password' %}
          </a>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
